.UserList {
  height: 100%;
  text-align: left;
  width: 80%;
  border: 2px solid var(--border-color);
  border-radius: .925em;
  overflow: scroll;
  box-sizing: border-box;
}

@media screen and (max-width: 40rem) {
  .UserList {
    width: 100%;
  }
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}

.noOne {
  text-align: center;
}
