.UserList {
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}

.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem;
}

.noOne {
  text-align: center;
}
