#app {
  width: 50rem;
  max-width: 100%;
}

#messagesContainer {
  overflow-y: auto;
  height: 20rem;
  border: 1px solid black;
  border-radius: 3px;
}

#messageSubmissionForm {
  margin: .5rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: .5rem;
}
