.ConversationContainer {
  /* Adjust for siteName height.
   * usernameHeadline top margin will collapse */
  height: calc(100% - 12rem);
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
}

.ConversationHistory {
  width: 100%;
  border: 2px solid var(--border-color);
  border-radius: .925em;
  overflow: scroll;
  box-sizing: border-box;
}

.sendForm {
  margin: 1rem 0;
  width: 100%;
  display: grid;
  grid-template-columns: 10fr 2fr;
  gap: 1rem;
}

.conversationHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

@media screen and (max-width: 40rem) {
  .conversationHeader {
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
  }
}
