#App {
  min-width: 20rem;
  width: 50rem;
  text-align: center;
  padding: 0 1rem;
  height: var(--app-height);
  box-sizing: border-box;
}

@media screen and (max-width: 60rem) {
  #App {
    width: var(--app-width);
  }
}
