#App {
  max-width: 50rem;
  text-align: center;
  padding: 0 1rem;
  height: var(--app-height);
}

.siteName {
  font-family: 'Space Mono';
  font-weight: bold;
  font-style: italic;
  font-size: 3em;
  margin: 2rem 0;
}
