@import url("fonts/inter/inter.css");
@import url("fonts/spacemono/spacemono.css");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color: lightgrey;
  --bg-color: black;
  --border-color: lightgrey;
  --border-focus-color: #bb97d8;

  --button-color: black;
  --button-text-color: lightgrey;
  --button-shadow-color: lightgrey;
  --input-color: black;
  --input-text-color: lightgrey;
  --input-shadow-color: lightgrey;
  --disabled-color: #9a9a9a;
  --dialog-color: #111;

  --app-width: 100vw;
  --app-height: 100vh;
  /* Account for UI elements on mobile */
  --app-height: 100svh;

  --mobile-width: 60rem;

  color: var(--text-color);
  background-color: var(--bg-color);
}

/*
@media (prefers-color-scheme: light) {
  :root {
  }
}
*/

button {
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
  font-size: inherit;
}

#root {
  display: grid;
  justify-items: center;
  width: var(--app-width);
  height: var(--app-height);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
/*
a:hover {
}
*/

body {
  margin: 0;
  position: fixed;
  height: var(--app-height);
  width: var(--app-width);
}
